In [14]:
# import libraries
import dash
import dash_table
import dash_core_components as dcc
import dash_html_components as html
import pandas as pd

# Sample data
# keep the sample data as per column names for 10 entries as mentioned above

data = {
        'Patient_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
        'Weight (Kg)': [50, 55, 60, 65, 70, 75, 80, 85, 90, 95],
        'Height (Inches)': [50, 55, 60, 65, 70, 75, 80, 85, 90, 95],
        'Temperature (Celcius)': [50, 55, 60, 65, 70, 75, 80, 85, 90, 95]
}
# make all the data strings

In [15]:
df = pd.DataFrame(data)

In [16]:
df

   Patient_ID  Weight  Height  Temperature
0           1      50      50           50
1           2      55      55           55
2           3      60      60           60
3           4      65      65           65
4           5      70      70           70
5           6      75      75           75
6           7      80      80           80
7           8      85      85           85
8           9      90      90           90
9          10      95      95           95

In [17]:
# make all the data strings
data = {k: [str(i) for i in v] for k, v in data.items()}

df = pd.DataFrame(data)

# print(df)

In [18]:
df.to_csv('DummyData.csv', header=True, index=False)